[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
alembic = "==0.9.3"
attrs = "==17.2.0"
automat = "==0.6.0"
beautifulsoup4 = "==4.5.3"
blinker = "==1.4"
bs4 = "==0.0.1"
click = "==6.7"
constantly = "==15.1.0"
dominate = "==2.3.1"
flask = "==0.12.2"
flask-bootstrap = "==3.3.7.1"
flask-mail = "==0.9.1"
flask-moment = "==0.5.1"
flask-script = "==2.0.5"
flask-sqlalchemy = "==2.2"
flask-wtf = "==0.14.2"
flaskr = "==0.0.0"
fmovice = "==0.1.0"
hyperlink = "==17.2.1"
incremental = "==17.5.0"
itsdangerous = "==0.24"
jinja2 = "==2.9.6"
mako = "==1.0.7"
markupsafe = "==1.0"
olefile = "==0.44"
pyasn1 = "==0.2.3"
python-dateutil = "==2.6.1"
python-editor = "==1.0.3"
queuelib = "==1.4.2"
redis = "==2.10.5"
requests = "==2.13.0"
rsa = "==3.4.2"
six = "==1.10.0"
spider = "==2.4.5"
sqlalchemy = "==1.1.11"
virtualenv = "==15.1.0"
visitor = "==0.1.3"
zope-interface = "==4.4.2"
Flask-Migrate = "==2.0.4"
Pillow = "==4.1.1"
Werkzeug = "==0.12.2"
WTForms = "==2.1"
django = "*"
pymysql = "*"

[requires]
python_version = "3.6"
