.navbar-brand img {
    height: 40px;
}

.navbar {
    background-color: rgb(103, 136, 152);
}

a {
    color: rgb(103, 136, 152);
}

.navbar>.container-fluid .navbar-brand {
    padding: 5px;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: rgb(103, 136, 152);
}
.nav-link {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}
.nav-link:hover {
    color: rgb(212, 212, 212);
}

ol {
    list-style: none;
}

.date {
    color: gray;
}
.title {
    padding: .1rem 1.25rem;
}
.list-group-item:hover {
    background-color: rgb(238, 238, 238);
}
.disabled {
    cursor: not-allowed;
}
.comment-like {
    color: red;
}
.comment-unlike {
    color: blue;
}

.row {
    padding: 10px;
}
.author {
    padding-top: 10px;
    float: left;
    width: 18%;
    margin-right: 2%;
    line-height: 1.5em;
}
.text {
    width: 80%;
    float: left;
    padding: 10px 10px 0px 10px;
    overflow: hidden;
}
.text img{
    border: 0 none;
    max-width: 100%;
    max-height: 500px;
}
.textright {
    float: right;
}
.input-group {
    /* height: 200px; */
    margin-top: 30px;
}
#submit {
    margin-top: 30px;
    background-color: rgb(103, 136, 152);
}

.page-item.active .page-link  {
    background-color: rgb(103, 136, 152);
    border-color: rgb(103, 136, 152);
}
.pagination {
    margin-top: 15px;
}
hr {
    margin-top: 0px;
    margin-bottom: 0px;
}
.msg {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: #383838;
    color: #f0f0f0;
    font-size: 16px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 2px;
    z-index: 1;
}
.vote {
    text-align: right;
}
.like-container a:hover {
    color: red;
    text-decoration: none;
}
.unlike-container a:hover {
    color: blue;
    text-decoration: none;
}
#upload_pic {
    margin: 0 20px;
}
.input-group {
    height: auto;
    padding: 10px;
    margin: 0px;
}
#textbody {
    height: 200px;
    background-color: #eaecee;
}
.custom-file-label::after {
    content: "选择"
}
.comment-list {
    padding: 5px;
    border-bottom: 0;
}
.comment-list-row {
    border-bottom: 1px solid rgba(0,0,0,.125);
    font-size: 15px;
    overflow: hidden;
    margin-bottom: 15px;
}
.comment-content {
    padding: 10px;
}
.comment-author-container {
    padding: 3px 10px;
}
.comment-container {
    border: 1px solid rgba(0,0,0,.125);
}
.comment-author {
    font-weight: bold;
}
.comment-date {
    float: right;
}
/* .comment-floor {
    float: right;
} */
#comment-textbody {
    height: 200px;
}
.comment-btn {
    cursor: pointer;
}
input {
    background-color: #eaecee;
}