{% load static %}

<script type="text/javascript" src="{% static 'mipha/js/jquery.js' %}"></script>
<div id="main">
<ul>
    {% for post in posts %}
    <li>
        <a href="{{ post.slug }}">{{ post }}</a><span> -- {{ post.author }}</span>
        <hr>
        <p>{{ post.body|linebreaksbr }}</p>
        <hr>
    </li>
    {% endfor %}
</ul>
</div>
<style>
.para {
    text-align: center;
}
ul {
    list-style-type:none;
}
</style>

<script>
    console.log('asdf')
    $('li').addClass('para')
</script>