{% extends 'base_template.html' %}
{% load markdown_deux_tags %}
{% block css %}
{% load static %}
<link href="{% static 'mipha/css/main.css' %}" rel="stylesheet">
{% endblock %}
    {% block content %}
    <!-- 内容 -->
    <div class="container">

        <div class="row">
            <button id='show-comment' class="btn">说点什么？</button>

            <!-- 顶部评论框 -->
            <div class="comment-top">
                <div class="col-sm">
                    <!-- <div class="alert alert-secondary" role="alert">
                        This is a primary alert—check it out! - {{ message }}
                    </div> -->
                    <hr>
                    <div class="commentheader">
                        <h3>发表评论</h3>
                    </div>

                    <form action="/form/" method="POST" id="commentform">
                        {% if error_message %}<div class="errormessage">{{ error_message }}</div>{% endif %}
                        {% csrf_token %}
                        <div class="form-group row">
                            <label for="author" class="col-sm-2 col-form-label">用户名</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="authorinput" name="author" placeholder="输入用户名" required>
                            </div>
                        </div>
                        <!-- <div class="form-group row">
                            <label for="email" class="col-sm-2 col-form-label">邮箱</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="emailinput" name="email" placeholder="输入邮箱(可选)"> -->
                                {% include 'mipha/upload_extend.html' %}
                                
                        <div class="input-group">
                            <textarea id='textbody' class="form-control" aria-label="With textarea" name="body" required placeholder="上传文件后会自动在文本框生成图片链接"></textarea>
                        </div>
                        <button type="submit" class="btn btn-secondary btn-lg btn-block" id="submit">提交</button>
                    </form>
                </div>
            </div>
            <hr>
            <ol class="list-group">
            {% for post in post_list %}
                {% if post.visible %}
                <li class="list-group-item title" id="comment-{{ post.id }}">
                    <!-- <a href="/post/{{ post.pub_date | date:'Y' }}/{{ post.pub_date | date:'m' }}/{{ post.pub_date | date:'d' }}/{{ post.title }}"></a> -->
                    <div class="content">
                        <div class="row">
                            <div class="author">
                                <span>{{ post.author }}</span>
                                <br>
                                <span class="date">{{ post.pub_date | date:"Y年m月d日"}}</span>
                            </div>
                            <div class="text">
                                <span class="textright">
                                    <a href="/p/{{ post.id }}">{{ post.id }}</a>
                                </span>
                                <div class="text-body">
                                {{ post.body | markdown | linebreaksbr }}
                                </div>
                                <div class="vote">
                                    <span class="like-container">
                                        <a title="圈圈/支持" href="javascript:;" class="comment-like" data-id="{{ post.id }}" cos="test">OO</a>
                                        [<span id="like-result">{{ post.likes }}</span>]
                                    </span>
                                    <span class="unlike-container">
                                        <a title="叉叉/反对" href="javascript:;" class="comment-unlike" data-id="{{ post.id }}">XX</a>
                                        [<span id="unlike-result">{{ post.unlikes }}</span>]
                                    </span>
                                    <span class='comment-btn' data-id="{{ post.id }}">评论区[{{ post.get_comment_count }}]</span>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </li>
                {% endif %}
            {% endfor %}
            </ol>
        

            <!-- 分页 -->
            {% include 'mipha/pagination.html' %}
            <!-- 评论 -->
            {% include 'mipha/comment_form.html' %}
        </div>
    </div>
    <div class="msg">您已经投过票了</div>
    <script>var post = "{{ post_list }}"</script>
    
{% endblock %}