{% extends 'base_template.html' %}
{% load markdown_deux_tags %}
{% block css %}
{% load static %}
<link href="{% static 'mipha/css/mobile.css' %}" rel="stylesheet">
{% endblock %}
    {% block content %}
    <!-- 内容 -->
    <div class="container">

      <div class="row">
        <div class="col-sm">
            <!-- <div class="alert alert-secondary" role="alert">
                This is a primary alert—check it out! - {{ message }}
              </div> -->
            <ol class="list-group">
            {% for post in post_list %}
                {% if post.visible %}
                <li class="list-group-item title">
                    <!-- <a href="/post/{{ post.pub_date | date:'Y' }}/{{ post.pub_date | date:'m' }}/{{ post.pub_date | date:'d' }}/{{ post.title }}"></a> -->
                    <div class="content">
                        <div class="row">
                            <div class="text">
                                <div class="author">
                                    <span>{{ post.author }}</span>
                                    <span class="date">{{ post.pub_date | date:"Y年m月d日"}}</span>
                                    <span class="textright">
                                        <a href="p/{{ post.id }}">{{ post.id }}</a>
                                    </span>
                                </div>
                                <hr>
                                <div class="text-body">
                                {{ post.body | markdown | linebreaksbr}}
                                </div>
                                <div class="vote">
                                    <span class="like-container">
                                        <a title="圈圈/支持" href="javascript:;" class="comment-like" data-id="{{ post.id }}" cos="test">OO</a>
                                        [<span id="like-result">{{ post.likes }}</span>]
                                    </span>
                                    <span class="unlike-container">
                                        <a title="叉叉/反对" href="javascript:;" class="comment-unlike" data-id="{{ post.id }}">XX</a>
                                        [<span id="unlike-result">{{ post.unlikes }}</span>]
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>
                {% endif %}
            {% endfor %}
            </ol>

            <!-- 分页 -->
            {% include 'mipha/pagination.html' %}
            <!-- 评论 -->
            {% include 'mipha/comment_form.html' %}
      </div>
    </div>
    <div class="msg">您已经投过票了</div>
{% endblock %}